
header{
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding:0;
    
    width: 100%;
    
    box-shadow: 0px 20px 20px rgb(45, 0, 74);
    
    position: fixed;
    /* z-index altissimo così almeno è sempre sopra */
    z-index: 100;
}   

#nav-bar{
    height: 70px;   

    border:none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(45, 0, 74);

}

#navBarLogo{
    margin-left: 10px;
    margin-right: 10px;

    height: 45px;

    transition: all 0.25s;
}

#navBarLogo:hover{
    scale: 1.2;
}

#navBarLeft{
    flex: 1;

    display: flex;
    align-items: start;
}


#searchBar{
    padding-left: 8px;

    flex: 1;
    
    /* width a 0 perché è intesa come minima dimensione */
    width: 0;
    height: 40px;
    
    border-radius: 26px;
    border: 2px solid transparent;
    
    font-size: 18px;
    background-color: rgb(8, 0, 34);
    
    transition: all 0.25s;
}

#searchBar:hover{
    scale: 1.01;

    filter: drop-shadow(0px 0px 2px rgb(204, 168, 214));
}

#searchBar:focus{
    outline: none;
    border-color:  rgb(204, 168, 214);

    color:rgb(204, 168, 214);
}

#searchBar::placeholder{
    color: rgb(149, 122, 156);

    transition: all 0.25s;
}

#searchBar:focus::placeholder{
    color: rgb(204, 168, 214);
}

#searchButton{
    padding: 6px 8px;

    height: 35px;

    border:none;

    background: none;

    transition: all 0.15s;
}

#searchIcon{
    height: 30px;
    
    background: transparent;
    transition: all 0.25s;
}

#searchIcon:hover{
    scale: 1.15;

    filter: drop-shadow(0px 0px 2px rgb(204, 168, 214));
}

#searchIcon:active{
    scale: 1;
}


#navBarRight{
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navBarButton{
    padding: 15px;

    height: 70px;

    border: none;

    font-size: 19px;
    font-weight: 600;
    background-color: transparent;

    transition: all 0.25s;
}

.navBarButton:hover{
    letter-spacing: 1px;
    color: white;
    background-color: rgb(60, 0, 100);
}

.navBarButton:active{
    scale: 0.85;
}

#endSect{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
}

.navBarButtonUser{
    padding: 6px 15px;
    
    width: 100%;
    height: 35px;
    
    border: none;
    
    font-size: 16px;
    font-weight: 600;
    
    background-color: transparent;
    
    transition: all 0.25s;
}

.navBarButtonUser:hover{
    letter-spacing: 1px;
    color: white;
    background-color: rgb(60, 0, 100);
}
.navBarButtonUser:active{
    scale: 0.85;
}

