@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    margin: 0;
    padding-top: 110px; 
    background-color: rgb(8, 0, 34);
}
button,input,p,label,ul,li,a{
    font-family: Lato;
    font-weight: 400;
    color: rgb(149, 122, 156);
    margin: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
body::-webkit-scrollbar {
    height: 10px;
}

body::-webkit-scrollbar-thumb {     
    border-radius: 10px;
    border: 1px solid  rgb(116, 2, 215);
    background: linear-gradient(rgb(8, 0, 34), rgb(43, 0, 80), rgb(43, 0, 80), rgb(43, 0, 80), rgb(8, 0, 34));
}
body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
}